<nav class="firstnav p-3  ">
	<div class="container">
		<div class="row">
			<div class="col">
			<a href="http://localhost:3002/"><img class="logo" src="../images/logo-airbnb.png" alt="AirbnbLogo" /></a>	
			</div>
			<div class="col text-end">
				<button type="button" class="btn btn-outline-secondary">

					{{user.name}}
					{{user.avatar}}
				</button>
				<button type="button" class="btn btn-outline-secondary">
					Logout
				</button>
			</div>
		</nav>
