<!-- <nav class="firstnav p-3  ">
	<div class="container">
		<div class="row">
			<div class="col">
				<img class="logo" src="./images/logo-airbnb.png" alt="AirbnbLogo" />
			</div>
			<div class="col text-end">
				<button type="button" class="btn btn-outline-secondary">
					Nikos
				</button>
				<button type="button" class="btn btn-outline-secondary">
					Logout
				</button>
			</div>
		</div>
	</div>
</nav> -->
{{>nav user=user}}
<div class="container">
	<div class="row">
		<div class="col-3 me-5">
			<h3 class="border-bottom pb-2">Profile</h3>
			<form action="/profile?_method=PATCH" method="POST">
				<label for="exampleInputPassword1" class="form-label mb-0"
					>Name</label
				>
				<input name="name" type="text" class="form-control mb-3"  value="{{user.name}}" />

				<label for="exampleInputEmail1" class="form-label mb-0"
					>Email</label
				>
				<input
					name="email"
					type="email"
					class="form-control mb-2 "
					id="exampleInputEmail1"
					aria-describedby="emailHelp"
					value="{{user.email}}"
				/>
				<label>Profile Picture</label>
				<div class="row mt-2">
					<div class="col-sm-3">
						<img

							src="{{user.avatar}}"
							class="img-fluid rounded-circle mb-2"
							alt="housepictures"
						/>
					</div>
				</div>
				<input name="avatar" type="text" class="form-control mb-2 " value="{{user.avatar}}" />

				<button type="submit" class="btn btn-primary btn-success my-2">
					Save Changes
				</button>
			</form>
		</div>
		<div class="col-8 ps-5 ">
			<h3 class="border-bottom pb-2">My Listings</h3>
			<button type="submit" class="btn btn-primary btn-success my-3">
				List a House
			</button>
			<!-- No listed houses -->

			<!-- <div class="card mb-2">
				<div class="card-body">
					<h6>You don't have any houses listed</h6>
				</div>
			</div> -->

			<!--  -->
			<div class=" card mb-0">
				<div class="card-body p-0">
					<div class="row row-cols-1 p-0 ">
						<div class="col-4">
							<img
								class="img-fluid"
								src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
								alt="housepictures"
							/>
						</div>
						<div class="col-8 ">
							<h4 class="mt-2">Luxury Villa in Chaweng</h4>
							<p class="my-1">4 rooms $350/night</p>
							<p>
								Stylish, tropical, luxurious, airy and absolute stunning
								view over the bay of Chaweng Beach, this villa combines form
								and function, enjoying magnificent views of Samui’s small
								islands and the sea beyond. With 520sqm of indoor/outdoor
								living space with 7 ensuite bedrooms, large living area,
								infinity pool, garden, air conditioned gym, professional
								pool table, bbq and Sala, this villa is perfect for up to 14
								adults With 260sqm (2798safeet) of living space and 260sqm
								of outdoor space.
							</p>
							<button
								type="submit"
								class="btn btn-outline-secondary p-1 mb-3 "
							>
								Edit
							</button>
							<button
								type="submit"
								class="btn btn-outline-success p-1 mb-3 "
							>
								View
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class=" card mb-0 mt-4">
				<div class="card-body p-0">
					<div class="row row-cols-1 p-0 ">
						<div class="col-4">
							<img
								class="img-fluid"
								src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
								alt="housepictures"
							/>
						</div>
						<div class="col-8 ">
							<h4 class="mt-2">Luxury Villa in Chaweng</h4>
							<p class="my-1">4 rooms $350/night</p>
							<p>
								Stylish, tropical, luxurious, airy and absolute stunning
								view over the bay of Chaweng Beach, this villa combines form
								and function, enjoying magnificent views of Samui’s small
								islands and the sea beyond. With 520sqm of indoor/outdoor
								living space with 7 ensuite bedrooms, large living area,
								infinity pool, garden, air conditioned gym, professional
								pool table, bbq and Sala, this villa is perfect for up to 14
								adults With 260sqm (2798safeet) of living space and 260sqm
								of outdoor space.
							</p>
							<button
								type="submit"
								class="btn btn-outline-secondary p-1 mb-3 "
							>
								Edit
							</button>
							<button
								type="submit"
								class="btn btn-outline-success p-1 mb-3 "
							>
								View
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
