.logo {
  width: 150px;
}
/* h5 a{ */

/* } */

.bg {
  height: 100vh;
  background-image: url('/images/thailand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  width: 20px;
}

.fa-thumbs-up {
  color: green;
}
.fa-thumbs-down {
  color: red;
}
.fa-circle {
  font-size: 9px;
  text-align: center;
}
.green-icon {
  color: green;
}
