<!-- Navigation Bar -->
{{>nav user=user}}

        <!-- Strating point of form -->
        <!-- House Title -->
        <div class="container p-0 mt-5">
          <h1 class="mb-3">List a House</h1>
          <form action="/houses" method="POST">
            <div class="mb-4">
              <label class="form-label "
                ><h6 class="mb-0">Short Title</h6></label
              >
              <div class="input-group ">
                <input name="title" type="text" class="form-control" />
              </div>
            </div>
            <!-- Description -->
            <div class="mb-4">
              <label class="form-label "
                ><h6 class="mb-0">Description</h6></label
              >
              <textarea name="description" class="form-control mb-2" rows="6"></textarea>
            </div>
            <!-- Number of Rooms -->
            <div class="mb-4">
              <label class="form-label "
                ><h6 class="mb-0">Number of Rooms</h6></label
              >
              <div class="input-group">
                <input name="rooms" type="number" class="form-control" />
              </div>
            </div>
            <!-- Location Selector -->
            <div class="mb-4">
              <label class="form-label "><h6 class="mb-0">Location</h6></label>
              <div class="input-group">
                <select name="location" class="form-select" aria-label="Default select example">
                  <option selected>Any Location</option>
                  <option value="Koh Phangan">Koh Phangan</option>
                  <option value="Koh Samui">Koh Samui</option>
                  <option value="Bali">Bali</option>
                </select>
              </div>
            </div>
            <!-- Price  -->
            <div class="mb-4">
              <label class="form-label "
                ><h6 class="mb-0">Price(per night)</h6></label
              >
              <div class="input-group ">
                <span class="input-group-text">$</span>
                <input name="price"type="number" class="form-control" />
              </div>
            </div>

            <!-- Photo Links -->
            <div class="mb-0">
              <label class="form-label "
                ><h6 class="mb-0">Add Photos(up to 9)</h6></label
              >
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="mb-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <div class="my-1">
              <div class="input-group ">
                <input
									name="photos"
                  type="text"
                  class="form-control"
                  placeholder="http://..."
                />
              </div>
            </div>
            <!-- Button  -->
            <button class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
